In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score , root_mean_squared_error

In [2]:
df = pd.read_csv('/kaggle/input/house-prices-advanced-regression-techniques/train.csv')

In [3]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df.shape

(1460, 81)

In [5]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [7]:
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,:-1],df.iloc[:,-1],test_size = 0.2,random_state=42)

In [8]:
X_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
254,255,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
1066,1067,60,RL,59.0,7837,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2009,WD,Normal
638,639,30,RL,67.0,8777,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,5,2008,WD,Normal
799,800,50,RL,60.0,7200,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,6,2007,WD,Normal
380,381,50,RL,50.0,5000,Pave,Pave,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal

In [9]:
X_train.isna().sum().values

array([   0,    0,    0,  217,    0,    0, 1094,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,  683,    6,    0,    0,    0,   28,   28,   28,
         28,    0,   28,    0,    0,    0,    0,    0,    0,    1,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,  547,   64,   64,   64,    0,    0,   64,   64,    0,
          0,    0,    0,    0,    0,    0, 1162,  935, 1122,    0,    0,
          0,    0,    0])

In [10]:
num  = X_train.select_dtypes(include='number')
X_test =X_test.select_dtypes(include= 'number')
X_test.shape

(292, 37)

In [11]:
num.isna().sum()

Id                 0
MSSubClass         0
LotFrontage      217
LotArea            0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
MasVnrArea         6
BsmtFinSF1         0
BsmtFinSF2         0
BsmtUnfSF          0
TotalBsmtSF        0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BsmtFullBath       0
BsmtHalfBath       0
FullBath           0
HalfBath           0
BedroomAbvGr       0
KitchenAbvGr       0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       64
GarageCars         0
GarageArea         0
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
dtype: int64

In [12]:
num.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
254,255,20,70.0,8400,5,6,1957,1957,0.0,922,...,294,250,0,0,0,0,0,0,6,2010
1066,1067,60,59.0,7837,6,7,1993,1994,0.0,0,...,380,0,40,0,0,0,0,0,5,2009
638,639,30,67.0,8777,5,7,1910,1950,0.0,0,...,0,328,0,164,0,0,0,0,5,2008
799,800,50,60.0,7200,5,7,1937,1950,252.0,569,...,240,0,0,264,0,0,0,0,6,2007
380,381,50,50.0,5000,5,6,1924,1950,0.0,218,...,308,0,0,242,0,0,0,0,5,2010

In [13]:
# extract the cols names to impute
impute_cols = num.columns[num.isna().any()].tolist()
print(impute_cols)

['LotFrontage', 'MasVnrArea', 'GarageYrBlt']

In [14]:

# drop the categorical cols
num_drop_impute_cols = num.drop(columns=impute_cols)
num_droptest_impute_cols = X_test.drop(columns = impute_cols)
print(num_droptest_impute_cols.shape)
print(num_drop_impute_cols.shape)

(292, 34)
(1168, 34)

In [15]:
# impute the missing value in train and in test dataset
from sklearn.impute import SimpleImputer
impute = SimpleImputer(missing_values = np.nan,strategy='mean')
X_train_impute = impute.fit_transform(num[impute_cols])
X_test_impute = impute.transform(X_test[impute_cols])

In [16]:
# combine the imputed cols with the dropped cols from above
X_train_df = np.hstack((num_drop_impute_cols.values,X_train_impute)) 
X_test_df = np.hstack((num_droptest_impute_cols.values,X_test_impute))

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_df = scaler.fit_transform(X_train_df)
X_test_df = scaler.transform(X_test_df)

In [18]:
print(pd.DataFrame(X_train_df).head())
print(pd.DataFrame(X_test_df).head())

         0         1         2         3         4         5         6   \
0 -1.119284 -0.866764 -0.212896 -0.820445  0.372217 -0.455469 -1.346063
1  0.790464  0.074110 -0.265245 -0.088934  1.268609  0.718609  0.439214
2 -0.216152 -0.631546 -0.177841 -0.820445  1.268609 -1.988293 -1.683818
3  0.162505 -0.161109 -0.324474 -0.820445  1.268609 -1.107734 -1.683818
4 -0.822944 -0.161109 -0.529035 -0.820445  0.372217 -1.531707 -1.683818

         7         8         9   ...        27        28        29        30  \
0  1.037269 -0.285504 -0.400282  ... -0.351921 -0.121008 -0.275838 -0.070993
1 -0.971996 -0.285504  0.511920  ... -0.351921 -0.121008 -0.275838 -0.070993
2 -0.971996 -0.285504  0.505196  ...  2.290826 -0.121008 -0.275838 -0.070993
3  0.267995 -0.285504 -0.915776  ...  3.902257 -0.121008 -0.275838 -0.070993
4 -0.496920 -0.285504  0.532091  ...  3.547742 -0.121008 -0.275838 -0.070993

        31        32        33        34        35            36
0 -0.09274 -0.133417  1.650065 -0.015314 -0.601531 -9.014248e-01
1 -0.09274 -0.508010  0.893677 -0.505211 -0.601531  5.966403e-01
2 -0.09274 -0.508010  0.137290 -0.148922 -0.601531 -1.892337e-14
3 -0.09274 -0.133417 -0.619098 -0.460675  0.859229 -1.650457e+00
4 -0.09274 -0.508010  1.650065 -0.906036 -0.601531 -2.274651e+00

[5 rows x 37 columns]
         0         1         2         3         4         5         6   \
0  0.381232 -0.866764 -0.211594 -0.088934  2.165000 -0.259789  0.873470
1  0.882188  0.074110  0.145643  1.374088 -0.524174  0.751222  0.487465
2 -0.745331 -0.631546 -0.160826 -0.820445  0.372217 -1.433867 -1.683818
3 -0.488973 -0.161109 -0.529035 -0.088934  1.268609 -0.781602 -1.683818
4  0.719907 -0.866764  0.205338  2.105599 -0.524174  1.175195  1.114724

         7         8         9   ...        27        28        29        30  \
0  0.472844 -0.285504 -0.391317  ... -0.351921 -0.121008 -0.275838 -0.070993
1  1.276986 -0.285504 -0.312872  ... -0.351921 -0.121008 -0.275838 -0.070993
2 -0.971996 -0.285504  0.980347  ...  1.742939 -0.121008 -0.275838 -0.070993
3 -0.102477 -0.285504  0.077111  ...  0.228194 -0.121008 -0.275838 -0.070993
4  1.255193 -0.285504  0.061422  ... -0.351921 -0.121008 -0.275838 -0.070993

        31        32        33        34        35        36
0 -0.09274 -1.631789 -1.375486 -0.015314 -0.601531 -0.651747
1 -0.09274 -0.882603  1.650065  1.231697  1.496862  0.638253
2 -0.09274 -1.257196  1.650065 -0.638819 -0.601531 -2.149812
3 -0.09274  1.364955 -1.375486 -0.906036 -0.601531 -1.192715
4 -0.09274  0.990362  0.893677  0.830872 -0.195765  1.220834

[5 rows x 37 columns]

In [19]:
reg = LinearRegression()
reg.fit(X_train_df,y_train)
y_pred = reg.predict(X_test_df)
print(reg.intercept_)
print(reg.coef_)
print(r2_score(y_test,y_pred))
print(root_mean_squared_error(y_test,y_pred))

181441.54195205492
[ -946.30111545 -8595.54056472  4882.28102713 24507.71613887
  4675.80983344  8279.22079807  3492.03222775  3723.14923028
  -614.57196283  -694.16286294  2954.78548027  7625.42161651
  9101.19286532   492.71889977 13295.84577796  5868.85157761
  -274.71467076  1585.72453471 -1159.42406058 -6943.30037904
 -2143.58498268  8298.44923363  3078.37787141  9139.77338998
  -837.03087045  2791.79903734  -387.19476952   576.02994506
  1243.89663502  3550.66945631  -772.08933468  -361.07899423
  -405.93434708  -697.42509298 -2996.31523612  4232.74809373
  3177.69102174]
0.8227408159695493
36873.239140783

In [59]:
ridg = Ridge(alpha=13,solver='sparse_cg',max_iter=1000)
ridg.fit(X_train_df,y_train)
print(ridg.intercept_)
print(ridg.coef_)
print(r2_score(y_test,ridg.predict(X_test_df)))

181441.54195205492
[ -942.21738892 -8300.00650623  4801.78068927 24011.86031616
  4551.1653585   7952.56302051  3732.98116576  3813.67386251
  -581.60189462  -589.05483515  3167.39088772  7434.71783775
  8825.7604573    476.09157377 12922.85466146  5771.90501181
  -312.91649787  1899.31057959  -898.43824731 -6695.84687464
 -2299.9617957   8279.74348767  3246.18699283  8705.96822149
  -216.29997755  2817.39116316  -351.78137871   548.8369056
  1230.27435752  3508.05414464  -752.69325543  -355.14261211
  -366.73389657  -688.0929457  -2840.62569109  4283.26688838
  3153.59389675]
0.8228208723792553

In [115]:
lass  = Lasso(alpha=25,max_iter=1000)
lass.fit(X_train_df,y_train)
print(lass.intercept_)
print(lass.coef_)
print(r2_score(y_test,lass.predict(X_test_df)))

181441.54195205492
[ -928.09375849 -8527.40246983  4852.82536819 24566.66208609
  4597.72847436  8174.46018573  3536.46818282  4418.30085062
  -342.46693984     0.          2216.72852869  4500.62972815
  5423.68956924    69.1649753  17519.87569778  5848.54549561
  -250.73655712  1606.64230879 -1064.03102288 -6841.14771294
 -2140.3845688   8215.13070276  3080.39118023  8918.35483527
  -550.09688823  2781.24875366  -354.97591008   516.93987426
  1216.56981328  3508.62182558  -744.07920145  -329.48624752
  -375.16119511  -660.65502885 -2947.74539024  4207.53925048
  3123.14475761]
0.8227618097152317

In [158]:
elastic = ElasticNet(alpha =0.01,l1_ratio=0.7,max_iter=10000)
elastic.fit(X_train_df,y_train)
print(elastic.intercept_)
print(elastic.coef_)
print(r2_score(y_test,elastic.predict(X_test_df)))

181441.54195205492
[ -946.08318774 -8511.55653974  4859.6659313  24374.50749198
  4640.05678936  8177.74472415  3558.37636033  3751.57240818
  -603.96241233  -665.57532825  3013.7536254   7571.6557476
  9018.46503083   487.17511903 13186.96983339  5839.19390254
  -285.84254862  1676.21733544 -1083.02992578 -6873.54923555
 -2189.84105213  8298.37172866  3124.52369493  9018.52639828
  -662.79235189  2800.3226179   -378.48180839   566.70204647
  1241.581955    3538.33920092  -766.34600663  -358.15576054
  -393.64692576  -694.28918375 -2953.63196468  4245.1425069
  3175.71813198]
0.8227695013453528